{% extends './index.html' %}

{% block title %}{{ data.title }}{% endblock %}

{%block formulario2%}
<h1> Formulario </h1>
<form action="/submit" method="post">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <input type="submit" value="Enviar">
</form>
{%endblock%}
{%block slider%}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='img/ima1.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/ima2.jpg') }}"class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{%endblock%}

{%block titulo%}
<h2 class="display-2 , centrado2 ">Reconocimiento de patrones para la predicción de niveles de obesidad mediante técnicas de minería de datos</h2>

{%endblock%}

{%block intro%}
<p class="text-lowercase , centrado2 ">El presente trabajo se centra en la estimación de niveles de obesidad en individuos de Colombia, Perú y México mediante el análisis de un conjunto de datos exhaustivo que abarca hábitos alimentarios y condición física. El conjunto de datos recopila información demográfica, patrones alimentarios, actividad física y mediciones antropométricas de una muestra representativa de la población en estos tres países.

    La metodología incluye técnicas de tratamiento de datos y aprendizaje automático para identificar patrones y relaciones significativas entre variables. Se utilizan algoritmos de clasificación para desarrollar modelos predictivos capaces de estimar los niveles de obesidad de un individuo en función de sus hábitos alimentarios y condición física. Además, se exploran diferencias regionales y se proponen recomendaciones personalizadas para la prevención y manejo de la obesidad en cada país.
    </p>
{%endblock%}

{%block dm1%}
<h2 class="display-2 , centrado2 ">Por que es peligrosa</h2>

<p class="text-lowercase , centrado2 ">
    La obesidad se considera peligrosa por una variedad de razones, ya que puede tener efectos significativos y negativos en la salud física y mental de una persona. Algunas de las razones por las que la obesidad se considera peligrosa incluyen:
    </p>

    <ul class="list-group , centrado2">
        <li class="list-group-item">Mayor riesgo de enfermedades crónicas</li>
        <li class="list-group-item">Impacto en la calidad de vida</li>
        <li class="list-group-item">Mayor riesgo de mortalidad</li>
        <li class="list-group-item">Impacto en la salud mental</li>
        <li class="list-group-item">Costos económicos y sociales</li>
      </ul>
{%endblock%}

{%block dm2%}
<h2 class="display-2 , centrado2 ">Principales causas de la obesidad</h2>

<p class="text-lowercase , centrado2 ">
    La obesidad es una condición multifactorial que puede ser causada por una combinación de factores genéticos, ambientales, sociales y conductuales. Algunas de las causas más comunes de la obesidad incluyen: </p>

    <ul class="list-group , centrado2">
        <li class="list-group-item">Factores genéticos</li>
        <li class="list-group-item">Hábitos alimenticios poco saludables</li>
        <li class="list-group-item">Inactividad física</li>
        <li class="list-group-item">Factores socioeconómicosl</li>
        <li class="list-group-item">Factores psicológicos y emocionales</li>
        <li class="list-group-item">Factores ambientales</li>
        <li class="list-group-item">Factores hormonales</li>
      </ul>
{%endblock%}

{%block dm3%}
<h2 class="display-2 , centrado2 ">Impacto de la obesidad en la educacion</h2>

<p class="text-lowercase , centrado2 ">
  
La obesidad puede tener varios impactos en la educación, tanto en el ámbito académico como en el socioemocional. Aquí hay algunos aspectos en los que la obesidad puede afectar la educación:
    <ul class="list-group , centrado2">
        <li class="list-group-item">Rendimiento académico</li>
        <li class="list-group-item">Ausentismo escolar</li>
        <li class="list-group-item">Bullying y estigma</li>
        <li class="list-group-item">Problemas de autoestima y autoimagen</li>
        <li class="list-group-item">Riesgos de salud a largo plazo</li>
        <li class="list-group-item">Calidad de vida</li>
      </ul>
{%endblock%}
{%block formulario%}
<form id='formulario' action='/procesar' method="post" class='width_form'>
    <label for="gender">Género:</label><br>
    <select id="gender" name="gender" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">Masculino</option>
        <option value="0">Femenino</option>
    </select><br><br>
<div class='fila'>
    <div class='elemento1'>
        <label for="age">Edad:</label><br>
        <input type="number" id="age" name="age" min="0" step="1"><br><br>
         </div>
   

         <div class='elemento2'> <label for="height">Altura:</label><br>
    <input type="number" id="height" name="height" min="0" step="0.01"><br><br> </div>
   
</div>
<div class='fila'>
    <div class='elemento1'>
    <label for="weight" class='elemento' >Peso:</label><br>
    <input type="number" id="weight" name="weight" min="0" step="0.01" ><br><br>
    </div>
    <div class='elemento2'>
        <label for="antecedentes">Antecedentes familares </label><br>
        <select id="antecedentes" name="antecedentes" class="form-select form-select-sm" aria-label="Small select example">
            <option value="1">Si</option>
            <option value="0">No</option>
        </select>
    </div>


</div>


    <label for="gender">¿Consume frecuente  alimentos ricos en calorías? </label><br>
    <select id="gender" name="FAVC" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">Si</option>
        <option value="0">No</option>
    </select><br><br>

    <label for="gender">¿Con que frecuencia  consumes  verduras? </label><br>
    <select id="gender" name="FCVC" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">Nunca</option>
        <option value="2">Aveces</option>
        <option value="3">Siempre</option>
    </select><br><br>

    <label for="gender">¿Cuantas comidas principales consumes al dia? </label><br>
    <select id="gender" name="NCP" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select><br>
    
    <label for="gender">¿Consumo de alimentos entre comidas? </label><br>
    <select id="gender" name="CAEC" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">No</option>
        <option value="2">Aveces</option>
        <option value="3">Frecuentemente</option>
        <option value="4">Siempre</option>
    </select><br>

    <label for="gender">¿Fumas? </label><br>
    <select id="gender" name="SMOKE" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">Si</option>
        <option value="0">NO</option>
       
    </select><br>


    <label for="gender">¿Cuanta agua consumes en el dia?</label><br>
    <select id="gender" name="CH2O" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">menos de un litro </option>
        <option value="2">1–2 litros </option>
        <option value="3"> más de 2 litros</option>
       
       
    </select><br>


    <label for="gender">¿Monitoreas tu consumo de calorías?</label><br>
    <select id="gender" name="SCC" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">Si</option>
        <option value="0">No</option> 
    </select><br>

    <label for="gender">¿Que frecuencia de actividad física tienes a la semana?</label><br>
    <select id="gender" name="FAF" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">ninguno</option>
        <option value="2">1 a 2 días</option>
        <option value="3">2 a 4 días</option>
        <option value="4"> 4 a 5 días</option> 
    </select><br>

    <label for="gender">¿Con que frecuencia usas los dispositivos tecnológicos?</label><br>
    <select id="gender" name="TUE" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1"> 0–2 horas</option>
        <option value="2"> 3–5 horas</option>
        <option value="3">más de 5</option>
       
    </select><br>

    <label for="gender">¿Consumes  alcohol?</label><br>
    <select id="gender" name="CALC" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">No</option>
        <option value="2">Aveces</option>
        <option value="3">Frecuentemente</option>
        <option value="4">Siempre</option>
       
    </select><br>


    <label for="gender">¿Que transporte utilizas?</label><br>
    <select id="gender" name="MTRANS" class="form-select form-select-sm" aria-label="Small select example">
        <option value="1">automóvil</option>
        <option value="2"> moto</option>
        <option value="3">bicicleta</option>
        <option value="4">transporte público o caminas</option>
       
    </select><br>

    
    <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="Calcular"  id="enviar" class="btn btn-primary">
        
      </div>
</form>



{%endblock%}