<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>{% block title %}{{ data.title }}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
       
    </head>
    <body>
        <div class='result1'> 

            <h2 class='centrado2'>
                Tu IMC es de :   {{data.imcpeso}} 
                <br>
                 categoría :  {{data.imc}}
                
             </h2>


        </div>
        
<h2 class='centrado2'>
   la categoria segun tus hábitos alimentarios y condición física es de una persona con :  {{data.result}}
</h2>
<img src="{{ url_for('static', filename='img/estilovd.png') }}"  class="centerimg" ></img>
    <br>
    <h2 class='centrado2 itemListTitle'>
        {{data.result2[0]}}
    </h2>
        <br>
<h2 class='centrado2'>
    {%for elemento in data.result2[1:]%}
     <li class='itemList'>{{ elemento }}</li>
    {% endfor %}


</h2>
<footer >
    <!-- Contenido del pie de página -->
    <p>Trabajo realizado por:  Jaime Alexander Chilama Cuasanchir, Johnnathan David Dueñas Rosero</p>
</footer>
    </body>
</html>